@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");






body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #b4c6b7 0%, #b4c6b7 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px #ffff);
}


img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  font-weight: bold;
}



body {
  font-family: "DM Sans", sans-serif;
}

.responsive-container {
  max-width: 1080px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #518d7d;
}

.header {
  border-bottom: 1px solid #518d7d;
  min-height: 60px;
  padding-top: 0.1rem;
  padding-bottom: 3rem;
  display: grid;
  place-content: center;

}










.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-size: 0.875rem;
}

.credits a {
  display: block;
}


/* nav */


.mainNav ul { 
  margin: 150px auto 0; 
  padding: 5%; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
.mainNav li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.mainNav a {
  color: #518d7d;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.mainNav a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #518d7d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	.mainNav ul {
		margin-top: 40px;
	}
}


/* typing animate*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






.logo {
  width: 200ch;
  border-right: 0.1em solid #518d7d;
  color: #518d7d;
  font-family: monospace;
  font-size: 4em;
  animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.logo::before {
  content: "Hello, I'm Hyeonttt";
  animation: type2 1s steps(4) 3.4s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 22ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "Hello, I'm Hyeontae. "
  }

  to {
    width: 20ch;
    content: "Hello, I'm Hyeontae. "
  }
}

@keyframes type3 {
  from {
    width: 21ch;
    content: "Hello, I'm Hyeontae. Welcome to my Website!"
  }

  to {
    width: 44ch;
    content: "Hello, I'm Hyeontae. Welcome to my Website!"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }

  to {
    width: 16ch;
  }
}







